src/__pycache__
src/Engine/__pycache__
src/Nodes/__pycache__
src/Nodes/Models/__pycache__
src/Nodes/Models/math/__pycache__
src/Nodes/Events/__pycache__
src/Nodes/Models/Variables/__pycache__
env
src/Nodes/Models/string/__pycache__