.idea
.venv
src/__pycache__
src/models/__pycache__
src/models/boolean/__pycache__
src/models/convert/__pycache__
src/models/events/__pycache__
src/models/math/__pycache__
src/models/statement/__pycache__
src/models/string/__pycache__
src/models/table/__pycache__
src/models/string/__pycache__
src/models/values/__pycache__
src/models/variables/__pycache__